<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791849891815-2f455n0u3jugsl072j56d820vmdb8d55.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791849891815-2f455n0u3jugsl072j56d820vmdb8d55</string>
	<key>API_KEY</key>
	<string>AIzaSyDBAJAu-o34Kv_7zorM5iASK6f7kmeve8U</string>
	<key>GCM_SENDER_ID</key>
	<string>791849891815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.midiadub.temp-login-face-google-apple</string>
	<key>PROJECT_ID</key>
	<string>authtest-30b68</string>
	<key>STORAGE_BUCKET</key>
	<string>authtest-30b68.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791849891815:ios:25b9a81e31a53a0985af42</string>
</dict>
</plist>